<div class="row">
  <div class="col-md-12">
    {{# if posts }}
      <h1 class="text-center">My Posts</h1>
      <hr />
      {{# each posts }}
          <div class="col-md-4">
            <div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item posts">
                    <h3><a href="/post/{{id}}/show">{{ this.title }}</a></h3>
                    <small>By: {{ user.fname }} {{ user.lname }}</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      {{/each}}

    {{ else }}
    <div class="no-scores-div">
      <h1 class="no-scores text-center">You have no posts</h1>
    </div>
    {{/if}}
  </div>
</div>
